ul {
  list-style-type: none;
  margin: 0;
  padding: 0 20px;
  overflow: hidden;
  background-color: #007dc6;
}

li {
  float: left;
  margin-bottom: 0;
  height: 32px;
  padding: 10px 20px;
  line-height: 32px;
}

li a,
li a:hover {
  color: white;
}

li.active {
  background-color: white;
}

li.active a,
li.active a:hover {
  color: #007dc6;
}
